<h1>Emprego Já</h1>
<p>Encontre seu emprego aqui</p>

<%= link_to 'Cadastrar Vaga', new_job_path %>
<dl>
<% @jobs.each do |job| %>

<dt><h2><%= link_to job.title, job_path(job) %></h2><dt/>
<dt><%= job.location %><dt/>
<dt><%= job.company_name %><dt/>

<% end %>
<dl/>
